/* post */
.yy-main{
    .post-title{
    	font-size:18px;
    	a{
    	    font-size:18px;
    	}
    }
    .post-meta{
    	font-size:12px;
    	color:#999;
    	a,span{
    	    margin-right:10px;
    	}
    }
    .post-content{
    	margin: 30px 0 0 0;
    	line-height: 2;
    	a{
            color:var(--yy-main-color);
            
        }
        a:hover{
            color:var(--yy-dark-color);
        }
        pre{
        	line-height: 1.5;
        }
        blockquote{color:#999;padding: 10px 45px;border-radius: 5px;background-color: #f8f8fa;position: relative;margin: 30px 0;}
        blockquote:before{display: block;width: 16px; height: 14px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAANCAYAAADISGwcAAAABmJLR0QA/wD/AP+gvaeTAAABJUlEQVQ4y62UzVHDMBCFPxgX4BJcQkpIKgAqwKkguAJDBSQdmAooAXPhlINLcDowFSQHr0fPipTMJHozmlnJT6u3f35o//YIlkBt9hroOccb8AQMwAvwY/d8vAMfZh8JY/XoHdTiLPR4LpyOBFABpTz+FeF/mohLnJsE5OZ8irwJcJcmEvvekwCTgI1Etotwa7FjnJsEFIwNA2NjhaIvceVpSVR/gAx4lX1v2QA4iBjlDJKNX6DCZU+b+F/urMT+Fv6QeYIWtqZIQ9l4tgXzUSvkcT+TrWQyl7POH8N7sBG7MhGXOGuYj+E9yHET0hGfooXZW2yKUgkocamtrmRowJUtmYDJeYOrt6LA9c2sPBljt4cudRFbcTDnje1jf8cCN+qNfjgBbfA/pMbdZOcAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC) no-repeat;content: "";position: absolute;top: 20px;left: 20px}
        blockquote:after {display: block;width: 16px;height: 14px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAANCAYAAADISGwcAAAABmJLR0QA/wD/AP+gvaeTAAABJUlEQVQ4y62UzVHDMBCFPxgX4BJcQkpIKgAqwKkguAJDBSQdmAooAXPhlINLcDowFSQHr0fPipTMJHozmlnJT6u3f35o//YIlkBt9hroOccb8AQMwAvwY/d8vAMfZh8JY/XoHdTiLPR4LpyOBFABpTz+FeF/mohLnJsE5OZ8irwJcJcmEvvekwCTgI1Etotwa7FjnJsEFIwNA2NjhaIvceVpSVR/gAx4lX1v2QA4iBjlDJKNX6DCZU+b+F/urMT+Fv6QeYIWtqZIQ9l4tgXzUSvkcT+TrWQyl7POH8N7sBG7MhGXOGuYj+E9yHET0hGfooXZW2yKUgkocamtrmRowJUtmYDJeYOrt6LA9c2sPBljt4cudRFbcTDnje1jf8cCN+qNfjgBbfA/pMbdZOcAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC) -16px 0 no-repeat;content: "";position: absolute;right: 20px;bottom: 20px}
        blockquote p{margin:0;margin-bottom:10px;padding:0}
        img{
        	max-width:100%;
        }
    }
    .post-tags{
    	margin-top:15px;
    	a{
        	margin-right: 5px;
        	background-color: #fafafa;
        	padding:3px 10px;
        	font-size:12px;
        }
    }
    .post-like {
        margin-top: 20px;
        text-align: center;
    }
    .share-component a{
        font-size:18px;
    }
    .adjacent{
    	margin-top:15px;
    	color:#aaa;
    	font-size:13px;
    	.previous{
        	margin-right:5px;
        	width:50%;
        }
        .next{
        	text-align: right;
        	width:50%;
        	margin-left:5px;
        }
    }
    .related{
    	margin-top:30px;
    	margin-bottom:30px;
    	ul{
        	display: flex;
        	flex-flow: wrap;
        	margin:15px 0 0 0;
        	padding:0px;
        }
        li{
        	margin:8px 0 0 0;
        	width:50%;
        	overflow: hidden;
        	white-space: nowrap;
        	text-overflow: ellipsis;
        	list-style: none;
        	.fa{
            	color:#aaa;
            	font-size:12px;
            	margin-right:5px;
            }
        }
    }

}



@media screen and (max-width:767px) {
    .yy-main{
    	.related li{
    		width:100%;
    	}
    }
}