/* Bottom right button */

.rollbar{
	position: fixed;
	bottom:60px;
	right:30px;
}

.rollbar .rollbar-item {
	position: relative;
	margin-top: 5px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: #ddd;
	color: #fff;
	text-align: center;
	vertical-align:middle;
	cursor: pointer;
	transition: all 0.5s ease;
}

.rollbar .rollbar-item:hover {
	color: #fff;
	background-color: var(--yy-light-color);
}

.rollbar .fa{
	color:#fff;
	font-size: 25px;
	line-height: 35px;
}